.back
{
    background: url('https://image.ibb.co/jS0E3e/about3.jpg') ;

    -webkit-background-size: cover;
    transition: all ls ease-in-out;
    height: 50vh;
    text-align: center; 
    

    
    
}