<div class="back">  
    <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                
                <br>
                <br>
                <br>
                
                

                
               
                
                          
            </div>
    </div>
</div>

<div class="container">
    <br>
   
    <span id="hs_cos_wrapper_module_140190329510711990" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_5722536992" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
      <span id="hs_cos_wrapper_widget_5722536992_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
      <h3 style="font-style: italic; font-weight: bold;">About Our Store</h3>
      <p>The Bike Shop now has three locations serving North, South and Central Calgary.  In 2018 The Bike Shop Combined with The Cyclepath Calgary to better serve Calgary's cycling community.</p>
      <p> The decision was made to brand all three locations as The Bike Shop Calgary due to it's longevity in the community - Serving Calgary since 1972. With an increased selection, value and reinvigorated commitment to our customers we look forward to helping you.</p>
      <p>We thank customers of both stores for their past business and look forward to helping you in the future.</p>
      <p><span style="font-weight: bold; font-size: 16px; color: #605e5e; background-color: #ffffff;">We aspires to organize all bikes of worldwide, in order to provide sport advantage to our customers.</span></p>
      <h3 style="font-style: italic; font-weight: bold;">Our Mission</h3>
      <p><span>Go bike seeks to use its core competencies to achieve a sustainable competitive advantage to its customers.</span></p>
      <p>We believe that bike-sport events are created equal and should be covered and analysed thoroughly, 365 days a year, 24 hours a day, seven days a week. With us, you get the whole package; we provide real-time data and in-depth analysis of pre-match and in-play incidents. With automated alerting tools, unique racing services and customized sportsbook management tools, we’ve got you covered.</p>
      <p>We strive to set standards of excellence, and we accomplish this through lightning-fast data feeds and out-of-the-box thinking. The innovative approach of our sports-loving engineers coupled with our dedicated Customer Service team ensures that our clients receive the best possible sports betting experience.</p>
      </span></div></span>  
      
     
</div>


<br>
<br>
<br>

