<div class="container">

  <h3>Your shopping cart</h3>

    <ul class="collection">
        <p *ngIf="this.api.prods.length < 1" style="margin: 50px;">there is no items in your shopping cart</p>
      <app-cart-prod *ngFor="let p of this.api.prods" [product] = "p" ></app-cart-prod>
    </ul>

    <div *ngIf="this.api.prods.length > 0">
      <p>Total price: {{this.api.getSum()}}$</p>
      
      <button class="btn waves-effect waves-light indigo accent-2" type="submit" name="action">buy
          <i class="material-icons right">send</i>
      </button>
  </div>
 
</div>  

<br>