<div class="col s3" appHover>
  <div class="card">

    <div class="card-image">
      <img src="{{product.image}}">       
    </div>

    <div class="card-content">
      <p>{{product.brand}} {{product.name}}</p>
      <p>{{product.description}}</p>
      <p>Price: {{product.price}} $</p>
      <p [hidden]="product.quantity < 1">Only {{product.quantity}} rest</p>
      <p [hidden]="product.quantity > 0" style="color: red;">OUT OF STOCK!!!</p>
    </div>
    <div class="card-action">
        <button [disabled]="product.quantity < 1" (click)="onClick()" class="waves-effect waves-light btn light blue"> <i class="large material-icons">add_shopping_cart</i></button> 
              
        <i [class.disable]="quantity < 2" class="tiny material-icons" (click)="remove()" style="cursor: pointer;">remove_circle_outline</i>
          <font size="+1"> {{quantity}} </font>
        <i [class.disable]="quantity >= product.quantity" class="tiny material-icons" (click)="add()" style="cursor: pointer;">add_circle_outline</i>

        <button href="/products/" (click)="onDelete()" class="waves-effect waves-light btn-small red darken-3" *ngIf="userService.getRole()=='admin'"> <i class="tiny material-icons">delete</i></button>
    </div>
    
  </div>
  
</div>
     

