.back
{
    background: url('https://image.ibb.co/eQ6jTT/bike_and_guy2.jpg');
    -webkit-background-size: cover;
    transition: all ls ease-in-out;
    height: 100vh;
    font-size: 64px;
    text-align: center; 
}

