<div class="container">

    <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Add Product</label>
        <div class="collapsible-content">
          <div class="content-inner">
              <div class="container">          
              
                  <form [formGroup]="productForm" (ngSubmit)="onAdd()">
                      <div class="row">
              
                          <div  class="input-field col s4">
                              <input formControlName="brand" id="brand" required>
                              <label class="active" for="brand">Brand</label>
                          </div>
              
                          <div class="input-field col s4">
                              <input formControlName="name" id="name" required>
                              <label class="active" for="name">Name</label>
                          </div>
              
                          <div class="input-field col s2">
                              <input formControlName="price" id="price" type="number" min="1" max ="99999999" required>
                              <label class="active" for="price">Price</label>
                          </div>
              
                          <div class="input-field col s2">
                              <input formControlName="quantity" id="quantity" type="number" min="1" max ="100" required>
                              <label class="active" for="quantity">Quantity</label>
                          </div>  
                          
                          <div class="input-field col s12">
                              <input formControlName="description" id="description" data-length="255" required>
                              <label class="active" for="description">Description</label>
                          </div>
              
                          <div class="input-field col s12">
                              <input formControlName="image" id="image" type="url" data-length="255" required>
                              <label class="active" for="image">Image</label>
                              <span class="helper-text" data-error="wrong" data-success="right">url to image</span>
                          </div>                         
                                    
                      </div>
                          
                      <button type="submit" [disabled]="!productForm.valid" class="btn waves-effect waves-light blue">Add Product</button>
                  
                  </form>    
                 
                 
              </div>
              
            
            
          </div>
        </div>
      </div> 

</div>




















<!---
       <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="brand" type="text" class="validate">
              <label for="brand">Brand</label>
            </div>
      
            <div class="input-field col s6">
              <input id="name" type="text" class="validate">
              <label for=" name">Name</label>
            </div>
      
            <div class="input-field col s6">
              <input id="image" type="text" class="validate">
              <label for="image">Image</label>
            </div>
      
            <div class="input-field col s3">
              <input id="price" type="text" class="validate">
              <label for="price">Price</label>
            </div>
      
            <div class="input-field col s3">
              <input id="quantity" type="text" class="validate">
              <label for="quantity">Quantity</label>
            </div>
      
            
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Description</label>
            </div>
            
          </div>
      
          <button class="btn waves-effect waves-light blue">Add</button>
           
           
        </form> 
 
</div>
  
  -->
  